<section class="our-services pt-130 pb-100">
    <div class="container">
        <div class="our-services-content-wrapper">
            <div class="row">
                <!-- Single Feature Box -->
                <div class="col-md-6"
                    *ngFor="let item of serviceblock | paginate: { itemsPerPage: 4, currentPage: page }">
                    <div class="single-feature-box single-feature-box-v3 wow fadeInUp" data-wow-delay="500ms"
                        data-wow-duration="1500ms">
                        <div class="feature-box-icon">
                            <i [class]="item.icon"></i>
                        </div>
                        <div class="feature-box-content">
                            <h4><a routerLink="/service-details/{{item.id}}">{{item.title}}</a></h4>
                            <p>{{item.shorttext}}</p>
                        </div>
                    </div>
                </div>
                <!-- Single Feature Box -->
            </div> <!-- /.row -->
            <!-- Pagination -->
            <pagination-controls (pageChange)="page = $event" responsive="true" previousLabel="<" nextLabel=">">
            </pagination-controls>
            <!-- Pagination -->
        </div> <!-- /.our-services-content-wrapper -->
    </div> <!-- /.container -->
</section>