<div class="cta-area-2 bg-clear-blue">
    <div class="cta-content">
        <div class="section-title section-title-white text-center">
            <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1500ms">Get Free Consultations</h2>
            <div class="section-title-description wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                <p>Sed ut perspiciatis unde omnis iste voluptate accusan dolore</p>
            </div>
            <div class="section-button-wrapper text-center wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                <a routerLink="/contact" class="filled-btn btn-bordered">
                    Get A Quote <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>