<footer class="footer-area footer-area-v2 bg-ocean-blue">
  <div class="container">
    <div class="footer-area-internal">
      <div class="row">
        <!-- Single Footer Widget -->
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="single-footer-widget footer-text-widget">
            <h5 class="widget-title">Tentang Naspo</h5>
            <p>
              Penelitian menjadi hal yang cukup penting karena mampu menciptakan
              solusi – solusi dari masalah yang terjadi saat ini.
            </p>
            <div class="footer-social-links">
              <ul>
                <li>
                  <a href="https://www.facebook.com/groups/947919142367894"><i class="fab fa-facebook-f"></i></a>
                </li>
                <!-- <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li> -->
                <li>
                  <a href="https://www.youtube.com/channel/UC6-Hq4AnYbwiQWz7XemEwKw"><i class="fab fa-youtube"></i></a>
                </li>
                <!-- <li>
                  <a href="#"><i class="fab fa-behance"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Footer Widget -->
        <div
          class="col-lg-3 col-md-6 wow fadeInUp"
          data-wow-delay="0.3s"
          *ngFor="let data of links"
        >
          <div class="single-footer-widget">
            <h5 class="widget-title">{{ data.title }}</h5>
            <div class="footer-widget-menu">
              <ul>
                <li *ngFor="let item of data.items">
                  <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Footer Widget -->
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
          <div class="single-footer-widget contact-us-widget">
            <h5 class="widget-title">Contact Us</h5>
            <div class="footer-widget-menu">
              <ul>
                <li>
                  <a href="https://goo.gl/maps/gEzFyE9gtXEyRfA26">
                    <i class="fal fa-map-marker-alt"></i> Jl. Kemang No. 63 RT 03 RW 06 kp. kekupu, Jawa Barat 16519, Indonesia.
                  </a>
                </li>
                <li>
                  <a href="mailto:youngscientist.iysa@gmail.com"
                    ><i class="fal fa-envelope-open-text"></i>
                    youngscientist.iysa@gmail.com</a
                  >
                </li>
                <li>
                  <a href="tel:+6281770914129"
                    ><i class="fal fa-phone"></i> +62 817-7091-4129</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.footer-area-internal -->
  </div>
  <!-- /.container -->
  <div class="footer-copyright-area wow fadeInDown" data-wow-delay="0.8s">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-sm-4">
          <div class="footer-logo">
            <img src="assets/img/naspo-logo.png" alt="footer logo white" />
          </div>
        </div>
        <div class="col-md-6 col-sm-8">
          <div class="footer-copyright">
            <p>&copy; 2022 <a href="/naspo">Naspo.</a> All Rights Reserved</p>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.footer-copyright-area -->
</footer>
<a
  href="javascript:void(0)"
  [ngClass]="windowScrolled ? 'd-inline-block' : ''"
  (click)="scrollToTop()"
  class="scroll-to-target scroll-to-top bg-burning-orange"
  ><i class="fa fa-angle-up"></i
></a>
