<app-header-six></app-header-six>
<app-banner></app-banner>
<app-features></app-features>
<app-stats></app-stats>
<app-about></app-about>
<section class="fact-and-cta-area pt-85 bg-dark-blue"
    [style.background-image]="'url(assets/img/cta/fact-and-cta-bg-map.png)'">
    <div class="container">
        <app-counter></app-counter>
        <div class="video-cta-area">
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <app-video></app-video>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <app-cta></app-cta>
                </div>
            </div>
        </div>
    </div>
</section>
<app-services></app-services>
<app-page-cta></app-page-cta>
<app-partners></app-partners>
<app-blogs></app-blogs>
<app-testimonials></app-testimonials>
<app-newsletter></app-newsletter>
<app-footer-six></app-footer-six>