<app-header-two></app-header-two>
<section
  class="hero-area hero-v2 bg-contain bg-ocean-blue hero-padding"
  [style.background-image]="'url(assets/img/hero/hero-map-bg.png)'"
>
  <app-banner></app-banner>
  <app-block></app-block>
</section>
<app-partners></app-partners>
<app-about></app-about>
<app-counter></app-counter>
<app-services></app-services>
<!-- <app-team></app-team>
<app-search-form></app-search-form> -->
<app-faqs></app-faqs>
<app-pricing></app-pricing>
<!-- <app-blogs></app-blogs>
<app-page-cta></app-page-cta> -->
<app-footer-two></app-footer-two>
