<section
  class="our-team-area our-team-area-v2 pt-130 pb-100"
  [style.background-image]="'url(assets/img/services/dots-pattern-bg.png)'"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <div class="section-title text-center mb-70">
          <div class="section-heading-tag">
            <span class="single-heading-tag">Story Event</span>
          </div>
          <h2>
            Our Success Story <br class="d-none d-md-block" />
            Event
          </h2>
        </div>
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
    <div class="team-member-content">
      <div class="row">
        <!-- Data -->
        <div
          class="col-lg-3 col-md-6"
          *ngFor="
            let item of teamblock
              | paginate: { itemsPerPage: 8, currentPage: page }
          "
        >
          <div
            class="single-team-member single-team-member-v2 wow"
            data-wow-delay="700ms"
            data-wow-duration="2000ms"
          >
            <div class="team-member-thumb">
              <img [src]="item.image" [alt]="item.name" />
            </div>
          </div>
        </div>
        <!-- Data -->
      </div>
      <!-- /.row -->
      <!-- Pagination -->
      <!-- <pagination-controls
        (pageChange)="page = $event"
        responsive="true"
        previousLabel="<"
        nextLabel=">"
      >
      </pagination-controls> -->
      <!-- Pagination -->
    </div>
    <!-- /.team-member-content -->
  </div>
  <!-- /.container -->
</section>
