<section
  class="collaboration-area collaboration-area-v2 pt-148 pb-108 border-top"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div
          class="
            app-preview-image
            text-center text-lg-left
            content-right-spacer
            oval-gradient
            animate-float-bob-x
            wow
            fadeInDown
          "
          data-wow-delay="0ms"
          data-wow-duration="1500ms"
        >
          <img src="assets/img/app/about.png" alt="about section" />
        </div>
      </div>
      <div class="col-lg-5">
        <div class="section-title section-title-mirage">
          <div class="section-heading-tag">
            <span class="single-heading-tag">About I2aspo</span>
          </div>
          <h2><span>Preliminary</span></h2>
          <div class="section-title-description">
            <p class="mb-15">
              The world changes today so fast. This change provides various
              kinds of things that require humans to adapt to the changes that
              occur. Especially in the field of research. Research is quite
              important because it is able to create solutions to problems that
              occur today.
            </p>
            <p>
              This is the reason why IYSA collaborated with the Faculty of
              Science and Data Analytics (FSAD) Institute Sepuluh Nopember to
              create a competition with title Indonesia International Applied
              Science Olympiad (i2ASPO) that invites elementary, middle, high
              school and university students to be able to contribute to
              producing a product that can be used by the wider community.
            </p>
          </div>
          <div class="section-button-wrapper">
            <a routerLink="/contact" class="filled-btn bg-mandy button-radius">
              Contact Us <i class="fas fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
