<section class="collaboration-area bg-cover pt-149" [style.background-image]="'url(assets/img/app/collaboration-bg.jpg)'">
    <div class="container">
        <div class="section-internal position-relative">
            <div class="row">
                <div class="col-lg-7">
                    <div class="collaboration-content pb-130">
                        <div class="section-title section-title-tuna">
                            <h2>Collaborate With Real <span>Team & Users.​​</span></h2>
                            <div class="section-title-description">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudante totam rem aperiam, eaque ipsa quae abillo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. nemo enim ipsam voluptatem</p>
                            </div>
                        </div>
                        <div class="iconic-list-wrapper iconic-list-wrapper-v2">
                            <div class="single-iconic-list iconic-list-v2 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="iconic-list-icon">
                                    <i class="fas fa-check"></i>
                                </div>
                                <div class="iconic-list-body">
                                    <h5 class="iconic-list-title">Easy To Collaborate With User</h5>
                                </div>
                            </div>
                            <div class="single-iconic-list iconic-list-v2 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                                <div class="iconic-list-icon">
                                    <i class="fas fa-check"></i>
                                </div>
                                <div class="iconic-list-body">
                                    <h5 class="iconic-list-title">Manage Team & Users Flow</h5>
                                </div>
                            </div>
                            <div class="single-iconic-list iconic-list-v2 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                                <div class="iconic-list-icon">
                                    <i class="fas fa-check"></i>
                                </div>
                                <div class="iconic-list-body">
                                    <h5 class="iconic-list-title">Upgrade Dashboard Systems</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-right-image text-center animate-float-bob-y section-image-circle-shape wow fadeInDown" data-wow-delay="0ms" data-wow-duration="2000ms">
                <img src="assets/img/app/collaboration-right-app-screenshot.png" alt="collaboration app screenshot">
            </div> <!-- /.section-right-image -->
        </div> <!-- /.section-internal -->
    </div> <!-- /.container -->
</section>