<section class="service-details-wrapper pt-125 pb-95" *ngFor="let item of servicedetails">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="service-details-content">
                    <h2>{{item.title}}</h2>
                    <div [innerHtml]="item.htmltext"></div>
                    <div class="icon-boxes-wrapper">
                        <div class="row">
                            <!-- Data -->
                            <div class="col-lg-3 col-md-6" *ngFor="let data of getProcess(item.workprocess)">
                                <div class="single-iconic-box iconic-box-v3 wow fadeInUp" [ngClass]="item.boxstyle" data-wow-delay="0.4s">
                                    <div class="iconic-box-icon">
                                        <img [src]="data.icon" [alt]="data.title">
                                    </div>
                                    <div class="iconic-box-body">
                                        <h5 class="iconic-box-title">{{data.title}}</h5>
                                        <p class="iconic-box-content">
                                            {{data.text}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Data -->
                        </div> <!-- /.row -->
                    </div> <!-- /.icon-boxes-wrapper -->
                    <div class="customer-faq">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="customer-faq-thumbnail animate-square-zoom wow fadeInUp" data-wow-delay="0ms" data-wow-duration="2500ms">
                                    <img src="assets/img/services/service-details-thumbnail-3.jpg" alt="service details three">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="section-accordion section-accordion-v2">
                                    <h3 class="faq-accordion-title">Frequently Asked Quesations</h3>
                                    <!-- /.accordion -->
                                    <ngb-accordion [closeOthers]="true" activeIds="static-1">
                                        <ngb-panel id="static-{{1+i}}" *ngFor="let data of getFaqs(item.faqs);let i = index">
                                            <ng-template ngbPanelTitle>
                                                {{data.title}}
                                            </ng-template>
                                            <ng-template ngbPanelContent>
                                                <p>{{data.text}}</p>
                                            </ng-template>
                                        </ngb-panel>
                                    </ngb-accordion>
                                    <!-- /.accordion -->
                                </div> <!-- /.section-accordion -->
                            </div>
                        </div>
                    </div> <!-- /.customer-faq -->
                    <blockquote>
                        {{item.quote}}
                    </blockquote>
                </div>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>