<section class="app-cta-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 align-self-lg-end order-2 order-lg-1">
                <div class="section-left-image text-center animate-float-bob-x content-right-spacer wow fadeInDown" data-wow-delay="0ms" data-wow-duration="2000ms">
                    <img src="assets/img/cta/download-app-cta-thumbnail.png" alt="app download thumbnail">
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2">
                <div class="section-title pb-55 section-title-tuna">
                    <h2>Download Our Apps
                        <span>Available Now </span>
                    </h2>
                    <div class="section-title-description">
                        <p class="mb-10">Sed ut perspiciatis unde omnis iste natus errors voluptatem accusantium doloremque laudantium totam rem aperiam eaqpsae.</p>
                        <p>Quae abillo inventore veritatis quasi architecto beatae vitae dicta sunt explicabe.</p>
                    </div>
                    <div class="section-button-wrapper section-dual-button">
                        <a routerLink="/services" class="filled-btn bg-rose-bud">
                            Apple Store <i class="fab fa-apple"></i>
                        </a>
                        <a routerLink="/services" class="filled-btn bg-tuna">
                            Google Play <i class="fab fa-google-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>