<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-7">
      <div class="hero-content">
        <div class="section-title section-title-white">
          <div
            class="section-heading-tag wow fadeInUp"
            data-wow-delay="0.2s"
            data-wow-duration="1500ms"
          >
            <!-- <span class="single-heading-tag text-white bg-burning-orange"
              >Save 25%</span
            >
            <span class="single-heading-tag text-white bordered-tag"
              >Naspo</span
            > -->
          </div>
          <h1
            class="wow fadeInUp"
            data-wow-delay="0.3s"
            data-wow-duration="1500ms"
          >
            Naspo <span>Official</span>
          </h1>
          <div
            class="section-button-wrapper section-dual-button wow fadeInUp"
            data-wow-delay="0.4s"
            data-wow-duration="1500ms"
          >
            <span>
              <a
                href="http://bit.ly/Pendaftaran_NASPO_2021"
                class="filled-btn btn-bordered"
              >
                Daftar <i class="fas fa-arrow-right"></i>
              </a>
            </span>
            <span class="play-video">
              <a
                href="https://www.youtube.com/watch?v=-ZsgGd42qY0&t=6191s"
                class="play-btn popup-youtube"
              >
                <i class="fas fa-play pulse-animated"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="blob-image-wrapper">
        <div class="blob-shape-wrapper">
          <img
            src="assets/img/particle/thumbs-up-particle-white.png"
            alt="white thumbs up"
            class="blob-shape blob-shape-1 animate-float-bob-y"
          />
          <img
            src="assets/img/particle/announcement-particle-white.png"
            alt="white announcement"
            class="blob-shape blob-shape-2 animate-float-bob-x"
          />
          <img
            src="assets/img/particle/paper-plane-particle-white.png"
            alt="white paper plane"
            class="blob-shape blob-shape-3 animate-float-bob-x"
          />
        </div>
        <div
          class="blob-main-image wow fadeInUp"
          data-wow-delay="500ms"
          data-wow-duration="2500ms"
        >
          <img src="assets/img/hero/bg-main.png" alt="main bg" />
        </div>
      </div>
      <!-- /.blob-image-wrapper -->
    </div>
  </div>
  <!-- /.row -->
</div>
