<section class="testimonial-area border-0 bg-white-lilac pt-122 pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="testimonial-content-wrapper">
                    <div class="section-title mb-45">
                        <h2>What Our Clients <br class="d-none d-md-block">Say About Us</h2>
                    </div>
                    <ngx-slick-carousel [config]="settings" class="testimonial-slider" id="testimonial-slider-v4">
                        <!-- Data -->
                        <div class="single-testimonial single-testimonial-v5" ngxSlickItem
                            *ngFor="let item of testimonials">
                            <div class="quote-thumbnail">
                                <i class="flaticon-right-quote"></i>
                            </div>
                            <p>{{item.comment}}</p>
                            <div class="testimonial-author" *ngFor="let author of getAuthor(item.author)">
                                <img [src]="author.image" [alt]="author.name">
                                <h6>{{author.name}} <span>{{author.post}}</span></h6>
                            </div>
                        </div>
                        <!-- Data -->
                    </ngx-slick-carousel>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="square-and-oval-image-wrapper content-left-spacer content-right-spacer">
                    <div class="project-count animate-float-bob-x">
                        <div class="count-icon">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="count-details">
                            <h4 class="counter" [countUp]="23684">0</h4>
                            <p>Clients Say Us</p>
                        </div>
                    </div>
                    <div class="image-square">
                        <img src="assets/img/testimonial/testimonial-right-thumbnail-1.jpg"
                            alt="testimonial right image one">
                    </div>
                    <div class="image-oval animate-float-bob-y">
                        <img src="assets/img/testimonial/testimonial-right-thumbnail-2.jpg"
                            alt="testimonial right image two">
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>