<section class="cta-area">
  <div class="container">
    <div class="cta-content-internal">
      <div class="cta-section-particle d-none d-lg-block">
        <img
          class="cta-particle-left"
          src="assets/img/cta/cta-left-particle-1.png"
          alt="cta particle 1"
        />
        <img
          class="cta-particle-right"
          src="assets/img/cta/cta-right-particle-1.png"
          alt="cta particle 2"
        />
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="cta-content">
            <div class="section-title text-center">
              <div
                class="section-heading-tag wow fadeInUp"
                data-wow-delay="0.1s"
                data-wow-duration="1500ms"
              >
                <span class="single-heading-tag">Official Website</span>
              </div>
              <h2
                class="wow fadeInUp"
                data-wow-delay="0.2s"
                data-wow-duration="1500ms"
              >
                Chose Our Website<br class="d-none d-md-block" />
                for visit
              </h2>
              <div
                class="
                  section-button-wrapper section-dual-button
                  justify-content-center
                  text-center
                  wow
                  fadeInUp
                "
                data-wow-delay="0.3s"
                data-wow-duration="1500ms"
              >
                <a routerLink="/naspo" class="filled-btn"
                  >NASPO WEBSITE <i class="fas fa-globe"></i>
                </a>
                <a routerLink="/i2aspo" class="filled-btn bg-blue-chalk">
                  I2ASPO WEBSITE <i class="fas fa-globe-asia"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.cta-content-internal -->
  </div>
  <!-- /.container -->
</section>
