<section class="about-us-area pt-130 pb-150">
  <div class="container">
    <div class="row align-items-center align-items-center">
      <div class="col-lg-7">
        <div class="blob-image-wrapper content-right-spacer">
          <div class="blob-shape-wrapper">
            <img
              src="assets/img/particle/thumbs-up-particle-blue.png"
              alt="blue thumbs up"
              class="blob-shape blob-shape-1 animate-float-bob-y"
            />
            <img
              src="assets/img/particle/announcement-particle-orange.png"
              alt="orange announcement"
              class="blob-shape blob-shape-2 animate-float-bob-x"
            />
            <img
              src="assets/img/particle/paper-plane-particle-orange.png"
              alt="orange paper plane"
              class="blob-shape blob-shape-3 animate-float-bob-x"
            />
          </div>
          <div
            class="blob-main-image wow fadeInUp"
            data-wow-delay="00ms"
            data-wow-duration="2500ms"
          >
            <img src="assets/img/app/docs.jpg" alt="about" />
          </div>
        </div>
        <!-- /.blob-image-wrapper -->
      </div>
      <div class="col-lg-5">
        <div class="section-title section-title-ocean-blue">
          <div class="section-heading-tag">
            <span class="single-heading-tag">Tentang Naspo</span>
          </div>
          <h2>
            <span>Pendahuluan</span>
          </h2>
          <div class="section-title-quote">
            <p>NATIONAL APPLIED SCIENCE PROJECT OLYMPIAD</p>
          </div>
          <div class="section-title-description">
            <p>
              Perubahan dunia saat ini terjadi dengan begitu cepat. Perubahan
              ini, memberikan berbagai macam hal yang mengharuskan manusia untuk
              beradaptasi dengan perubahan yang terjadi. Khususnya dalam bidang
              penelitian. Penelitian menjadi hal yang cukup penting karena mampu
              menciptakan solusi – solusi dari masalah yang terjadi saat ini.
            </p>
            <br />
            <p>
              Alasan inilah yang mendasari IYSA bekerja sama dengan Fakultas
              Sains dan Analitik Data (FSAD) Institute Sepuluh Nopember untuk
              membuat sebuah lomba yang mengajak para peserta didik baik siswa
              SD, SMP, SMA dan Mahasiswa untuk bisa berkontribusi menghasilkan
              sebuah produk yang dapat digunakan oleh masyarakat luas.
            </p>
          </div>
          <div class="section-button-wrapper">
            <a routerLink="/about" class="filled-btn">
              Hubungi Kami <i class="fas fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
