<section class="blog-and-news-area blog-news-v3 pt-120 pb-90">
    <div class="container">
        <div class="section-internal">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title section-title-clear-blue mb-70">
                        <div class="section-heading-tag">
                            <span class="single-heading-tag">Recent News</span>
                        </div>
                        <h2>Latest Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Data -->
                <div class="col-lg-4" *ngFor="let item of getRecentPost()">
                    <div class="blog-post-item blog-post-item-v5 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="1500ms">
                        <div class="post-thumbnail">
                            <a routerLink="/blog-details/{{item.id}}">
                                <img [src]="item.image[0]" [alt]="item.title">
                            </a>
                        </div>
                        <div class="blog-post-entry-content">
                            <div class="post-meta-wrapper">
                                <ul>
                                    <li *ngFor="let tag of getTags(item.tags) | slice:0:1"><a routerLink="/blog/tag/{{tag.id}}">{{tag.title}}</a></li>
                                </ul>
                            </div>
                            <h4 class="post-title"><a routerLink="/blog-details/{{item.id}}">{{item.title | slice:0:42}}...</a></h4>
                            <div class="post-read-more">
                                <a routerLink="/blog-details/{{item.id}}" class="filled-btn bg-blue-chalk">Read more <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Data -->
            </div>
            <!-- View More Services Button -->
            <div class="section-button-wrapper">
                <a routerLink="/blog-grid" class="filled-btn btn-bordered bg-clear-blue">
                    View All Blogs <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div> <!-- /.section-internal -->
    </div> <!-- /.container -->
</section>