<section class="hero-area hero-v1" [style.background-image]="'url(assets/img/hero/app-overview-main-bg.png)'">
    <div class="container">
        <div class="hero-internal">
            <div class="section-particle-effect d-none d-md-block">
                <img class="particle-1 animate-zoom-fade" src="assets/img/particle/particle-1.png" alt="particle One">
                <img class="particle-2 animate-float-bob-y" src="assets/img/particle/particle-2.png" alt="particle Two">
                <img class="particle-3 animate-zoominout" src="assets/img/particle/particle-3.png" alt="particle Three">
                <img class="particle-4 animate-zoominout" src="assets/img/particle/particle-4.png" alt="particle Four">
                <img class="particle-5 animate-zoominout" src="assets/img/particle/particle-5.png" alt="particle Five">
                <img class="particle-6 animate-zoom-fade" src="assets/img/particle/particle-6.png" alt="particle Six">
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xl-11">
                    <div class="hero-content">
                        <div class="section-title">
                            <div class="section-heading-tag wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1500ms">
                                <span class="single-heading-tag">Save 25%</span>
                                <span class="single-heading-tag bordered-tag">Faster solutions</span>
                            </div>
                            <h1 class="wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">Build your <span>saas</span> landing pages with us</h1>
                            <div class="section-button-wrapper justify-content-center section-dual-button wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1500ms">
                                <a routerLink="/services" class="filled-btn">
                                    Saas Solutions <i class="fas fa-arrow-right"></i>
                                </a>
                                <a routerLink="/about" class="filled-btn btn-bordered">
                                    Learn More <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div> <!-- /.hero-content -->
                </div> <!-- /.col-lg-10 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="app-dashboard-preview animate-float-bob-y">
                        <img src="assets/img/app/app-dashboard.jpg" alt="app dashboard overview">
                    </div>
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.section-internal -->
    </div> <!-- /.container-->
</section>