<section class="hero-area hero-v5 bg-solid-dark" [style.background-image]="'url(assets/img/hero/map-bg.png)'">
    <div class="container">
        <div class="hero-internal">
            <div class="row">
                <div class="col-xl-8 col-lg-9">
                    <div class="hero-content">
                        <div class="section-title section-title-white">
                            <h1 class="wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">Get Solutions to Expert Consultant</h1>
                            <div class="section-title-quote wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem accusanti doloremque laudantium totam rem aperiam</p>
                            </div>
                            <div class="section-button-wrapper section-dual-button wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1500ms">
                                <span>
                                    <a routerLink="/services" class="filled-btn">
                                        Discover More <i class="fas fa-arrow-right"></i>
                                    </a>
                                </span>
                                <span class="play-video">
                                    <a href="https://www.youtube.com/watch?v=TKnufs85hXk" class="play-btn popup-youtube">
                                        <i class="fas fa-play pulse-animated"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-right-thumbnail" [style.background-image]="'url(assets/img/hero/hero-v5-right-thumbnail.jpg)'">
                <div class="hero-right-bg-shape"></div>
            </div>
        </div> <!-- /.hero-internal -->
    </div> <!-- /.container -->
</section>