<section class="cta-area bg-ocean-blue">
    <div class="container">
        <div class="cta-content-internal">
            <div class="cta-section-particle">
                <img class="cta-particle-left" src="assets/img/cta/cta-left-particle-2.png" alt="cta particle 1">
                <img class="cta-particle-right" src="assets/img/cta/cta-right-particle-2.png" alt="cta particle 2">
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="cta-content">
                        <div class="section-title section-title-white text-center">
                            <div class="section-heading-tag wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <span class="single-heading-tag text-white bg-transparent-ocean-blue">Download Apps</span>
                            </div>
                            <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1500ms">Get our apps very easily, we’re <br class="d-none d-md-block"> available on store</h2>
                            <div class="section-button-wrapper section-dual-button justify-content-center wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                                <a routerLink="/services" class="filled-btn filled-bg-white">
                                    Apple Store <i class="fab fa-apple"></i>
                                </a>
                                <a routerLink="/services" class="filled-btn btn-bordered">
                                    Google Play <i class="fab fa-google-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.cta-content-internal -->
    </div> <!-- /.container -->
</section>